@mixin clickable {
  color: inherit;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a, a:hover, a:visited {
  @include clickable;
}

#site-wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  .nav-button {
    text-transform: none;
  }
}

.footer {
  bottom: 0;
  left: 0;
  line-height: 1.5;
  padding: 20px;
  position: absolute;
  width: 100%;
}
