@mixin clickable {
  color: inherit;
  cursor: pointer;
}

@mixin noTextTransform {
  text-transform: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a, a:hover, a:visited {
  @include clickable;
}

#site-wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  .nav-button {
    @include noTextTransform;
  }
}

.container {
  padding: 20px;

  .browse-container {
    .post-card {
      font-size: 14px;
      line-height: 1.4;
      max-width: calc(20% - 20px);
      margin: 10px;

      .hanging-indent {
        padding-left: 15px;
        text-indent: -15px;
      }

      .detail-button {
        @include noTextTransform;
      }
    }

    .nav-row {
      .nav-button {
        @include noTextTransform;

        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .login-container {
    .login-card {
      margin: 0 auto;
      max-width: 500px;
    }
  }
}

.footer {
  line-height: 1.5;
  padding: 20px;
  width: 100%;
}

.cover-image-container {
  height: 200px;
  width: 150px;
  background-color: black;
}

.flex-image {
  max-height: 100%;
  max-width: 100%;
}

.trade-card {
  .cover-image-container {
    height: 160px;
    width: 120px;
  }
}
