<section class="login-container">
  <md-card class="login-card">
    <md-card-title>
      <span class="md-headline">Login</span>
    </md-card-title>
    <md-card-content>
      <form name="loginForm">
        <md-input-container class="md-block" ng-if="!showLogin">
          <label>Name</label>
          <input ng-model="user.name" name="name">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Email</label>
          <input ng-model="user.email" name="email">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input ng-model="user.password" name="password" type="password">
        </md-input-container>
      </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary" ng-if="showLogin" ng-click="goToRegister()">Go to Register</md-button>
      <md-button class="md-primary" ng-if="!showLogin" ng-click="goToLogin()">Go to Login</md-button>
      <span flex></span>
      <md-button class="md-raised md-primary md-button md-ink-ripple" ng-if="showLogin" ng-click="login()">Login</md-button>
      <md-button class="md-raised md-primary md-button md-ink-ripple" ng-if="!showLogin" ng-click="register()">Register</md-button>
    </md-card-actions>
  </md-card>
</section>
